.general {
    background: url(./img/logo.png);
    background-size: contain;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom {
    display: flex;
    justify-content: center;
}

#chartdiv {
    width: 500px;
    height: 300px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
