@font-face {
    font-family: "ProximaNova";
    src: url("./fonts/ProximaNova.eot");
    src: url("./fonts/ProximaNova.eot?#iefix") format("embedded-opentype"),
        url("./fonts/ProximaNova.woff") format("woff"),
        url("./fonts/ProximaNova.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: ProximaNova, sans-serif;
}

.general {
    /* background: url(./img/logo.png); */
    background-size: contain;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: row;
}

.bottom {
    display: flex;
    justify-content: center;
}

#chartdiv1, #chartdiv2 {
    width: 600px;
    height: 400px;
    border: 2px solid #2fe8ff;
    border-radius: 10px;
    margin: 0 50px;
}

[role=scrollbar], [role=button] {
    display: none !important;
    fill: #2fe8ff;
    stroke: #2fe8ff;
}

/* [role=menuitem] {
    stroke-opacity: 1;
    fill: #2ecc71;
    fill-opacity: 1;
    stroke: #2ecc71;
} */

.title {
    margin: 20px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

.gradient {
    font-weight: bolder;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    position: relative;
}

.gradient_cold {
    background-image: linear-gradient(30deg, #59bcc8, #5ae6f7, #0be4ff);
}

.input {
    font-family: ProximaNova, sans-serif;
    -webkit-text-fill-color: #787878;
    fill: #787878;
    text-align: center;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 15px;
    min-width: 300px;
    outline: 0px;
    border-radius: 3px;
    border: 2px solid #2fe8ff;
}

.btn {
    font-family: ProximaNova, sans-serif;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #2fe8ff;
    border-radius: 3px;
    text-align: center;
    text-shadow: none;
    color: #fff !important;
    cursor: pointer;
    font-size: 14px;
    outline: 0px;
    display: block;
    border: 0px;
    font-family: system-ui;
    position: relative;
}

.btn:after {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-size: 200% 100%;
    background-position: 200% 0;
    background-repeat: no-repeat;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%);
}

.btn:hover:after {
    transition: .5s linear;
    background-position: -200% 0;
}

.form {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 800px) {
    #chartdiv1, #chartdiv2 {
        display: none;
    }

    .bottom {
        background: #00000029;
        padding: 1000px;
        position: fixed;
    }

    .general {
        background: url(./img/logo.png);
        position: fixed;
    }

    .input {
        border: 0;
    }

    .title {
        position: absolute;
        top: 10%;
        z-index: 10;
        background-image: linear-gradient(30deg, #fff, #fff, #fff);
    }
}
